<footer class="bg-dark text-white">
	<div class="row">
		<div class="col-md-4">
			<p><small> there welcome to the blog website powered by django framework on python. The developer will only be using djago for 3 more months. The developer has decided to take a look at node.js after that. Who knows anything can happen.</small></p>
		</div>
		<div class="col-md-4">
			<p><small> Hello there welcome to the blog website powered by django framework on python. The developer will only be using djago for 3 more months. The developer has decided to take a look at node.js after that. Who knows anything can happen.</small> </p>
		</div>
		<div class="col-md-4">
			<p><small> Hello there welcome to the blog website powered by django framework on python. The developer will only be using djago for 3 more months. The developer has decided to take a look at node.js after that. Who knows anything can happen.</small> </p>
		</div>
	</div>
	
</footer>